# Assigning Emissions and Profit

## Import relevant libraries and load data

In [51]:
import numpy as np
import pandas as pd

In [52]:
# Read in data in  sheet "RA Farm list December 2021" of the file

resources_data = pd.read_excel("../data/interim/MasterSyntheticDatabase_v1.xlsx", header=0, usecols="B:M")

In [53]:
# Show first 5 rows

resources_data.head()

,Crop,Category,Total Hectares,Production Hectares,Country,Location,Volume Kilos,Volume Tonnes,Total Workers,Worker Per Tonne,CO2 Per Tonne,Profit Per Tonne
0,Abaca,Ornamental & medicinal plants,2016.89,8.20,Ecuador,NaN,16501.0,16.5010,143,8.666141,NaN,NaN
1,Açaí,Fruit,309.60,245.84,Brazil,NaN,161524.0,161.5240,2,0.012382,NaN,NaN
2,Asparagus,Vegetable,4351.63,431.87,Peru,NaN,5482000.0,5482.0000,5793,1.056731,NaN,NaN
3,Asparagus,Vegetable,170.00,105.00,Peru,NaN,926098.5,926.0985,97,0.104740,NaN,NaN
4,Asparagus,Vegetable,239.20,120.00,Peru,NaN,1080000.0,1080.0000,337,0.312037,NaN,NaN

In [54]:
# Remove datapoints with gaps
print(len(resources_data))
resources_data.drop(resources_data.index[resources_data['Worker Per Tonne'] == 0], inplace=True)
resources_data.drop(resources_data.index[np.isnan(resources_data['Worker Per Tonne'])], inplace=True)
print(len(resources_data))

1074
1042

## Assign emissions for each category based on real data from Brazil

In [55]:
# Show all categories present in data
categories = resources_data["Category"].unique()
print(categories)

['Ornamental & medicinal plants' 'Fruit' 'Vegetable' 'Herbs & Spices'
 'Cattle' 'Cocoa' 'Coffee' 'Oilseeds and oleaginous' 'Tea']

In [56]:
# Dictionary with info about CO2 emissions per tonne for each category in Brazil (based on yearly average)

# Data from: https://www.sciencedirect.com/science/article/pii/S0959378018314365
# Direct data for: Vegetables, Fruits, Cattle, Oilseeds
# In data, "Other crops" includes: "cocoa, coffee, tea, and spices" - for us include also ornamental & medicinal plants in this category
# For us, include ornamental & medicinal plants in other

co2_per_tonne = {
    "Ornamental & medicinal plants" : 5.09e6,
    "Fruit" : 11.85e6,
    "Vegetable" : 11.85e6,
    "Herbs & Spices" : 5.09e6,
    "Cattle" : 466.30e6,
    "Cocoa" : 5.09e6,
    "Coffee" : 5.09e6,
    "Oilseeds and oleaginous" : 7.54e6,
    "Tea" : 5.09e6,
}

In [57]:
# For each 

for category in categories:
    resources_data.loc[resources_data["Category"] == category, "CO2 Per Tonne"] = co2_per_tonne[category]

resources_data.head()

,Crop,Category,Total Hectares,Production Hectares,Country,Location,Volume Kilos,Volume Tonnes,Total Workers,Worker Per Tonne,CO2 Per Tonne,Profit Per Tonne
0,Abaca,Ornamental & medicinal plants,2016.89,8.20,Ecuador,NaN,16501.0,16.5010,143,8.666141,5090000.0,NaN
1,Açaí,Fruit,309.60,245.84,Brazil,NaN,161524.0,161.5240,2,0.012382,11850000.0,NaN
2,Asparagus,Vegetable,4351.63,431.87,Peru,NaN,5482000.0,5482.0000,5793,1.056731,11850000.0,NaN
3,Asparagus,Vegetable,170.00,105.00,Peru,NaN,926098.5,926.0985,97,0.104740,11850000.0,NaN
4,Asparagus,Vegetable,239.20,120.00,Peru,NaN,1080000.0,1080.0000,337,0.312037,11850000.0,NaN